/****** General ***********/

body {
    margin: 0;

    ul {
        padding: 0;
        list-style-type: none;
    }

    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 9999;
        animation: fadeOut 3s;
        animation-fill-mode: forwards;
    
        .loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @keyframes fadeOut {
            100% {
              opacity: 0;
              visibility: hidden;
            }
        }
    }  

    .header {    
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .header__logo {
            width: 43%;
            height: 44px;
        }

        .location {
            width: 100%;
            height: 50px;
            background-color: #EAEAEA;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header__image {
            height: 275px;
        }
    }

    main {
        background-color: #F6F6F6;

        .presentation {
            display: flex;
            flex-direction: column;
            align-items: center;

            .presentation__button {
                height: 50px;
                border: 2px solid ;
                border-radius: 25px;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                background-color: #FF79DA ;
                color: white;
            }
        }

        .fonctionnement{
            ul {
                li {
                    display: flex;
                    width: 100%;
                    height: 72.38px;
                    border: 2px solid;
                    border-radius: 20px;
                    justify-content: center;
                    align-items: center;
                }
            
            }
        }

        .card {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            padding: 5px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            background-color: white;
       
            img {
                object-fit: cover;
                height: 124px;
                border-radius: 20px 20px 0px 0px;
                border: 5px;
            }
    
            .card-content {
                padding-left: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                .card-title {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 4px;
                }
    
                .card-subtitle {
                    font-size: 14px;
                    margin: 5px 0;
                }
    
                .icon-button {
                    position: relative;
                    background: none;
                    color: #9356DC;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                }
    
                .card__price{
                    padding-top: 15px;
                }
                  
            }
        }
        
    }

    .footer{
        background-color: #353535;
        color: white;

        ul {
            .footer__logo {
                img {
                    color: white;
                }
            }
        }
    }
    
}


