/****** General ***********/

body {
    margin: 0;

    ul {
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 9999;
        animation: fadeOut 3s;
        animation-fill-mode: forwards;
    
        .loading-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @keyframes fadeOut {
            100% {
              opacity: 0;
              visibility: hidden;
            }
        }
    }  

    .header {    
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .header__logo {
            height: 63px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .header__back-button {
                position: absolute;
                left: 20px;
                color : #353535;
                font-size: 20px;
            }

            img {
                height: 44px;
                width: 65%;
            }
        }

        .location {
            width: 100%;
            height: 50px;
            background-color: #EAEAEA;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                padding-left: 15px;
                font-family: 'Roboto', sans-serif;
            }
        }

    }
    
    main {
        // position: relative;
        background-color: #F6F6F6;
        padding-bottom: 50px;
        
        .menu__page__image {
            height: 275px;
    
            @media screen and (min-width: 1024px) {
                min-width: 1440px;
                height: 383px;
            }
        }

        .presentation {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            padding: 20px 0;
            h1 {
                height: 68px;
                width: 73%;
                margin-bottom: 0;
            }

            p {
                font-weight: 300;
                font-size: 18px;
            }

        }

        .fonctionnement{
            padding: 20px;
            background-color: white;
            ul {
                margin-left: 10px;
                li {
                    position: relative;
                    display: flex;
                    width: 96%;
                    height: 72.38px;
                    border-radius: 20px;
                    align-items: center;
                    background-color: #F6F6F6;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                    box-shadow: 10px 10px 15px #00000026;

                    span {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: #9356DC;
                        color: white;
                        text-align: center;
                        margin-right: 10px;
                        left: -10px;
                        font-size: 14.18px;
                    }

                    i {
                        position: relative;
                        padding: 0 30px;
                        color: #7E7E7E;
                        font-size: 19px;
                        top : -3px;
                    }
                    
                    .fa-store {
                        color: #9356DC;

                    }
                    

                }

                
            
            }

            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: center;
                div {
                    max-width: 1053px;
                    ul {
                        display: flex;
                        li {
                            min-width: 335px;
                            margin-right: 30px;
                        }
                    }
                }
            }
        }

        .restaurants {
            padding: 20px;

            @media screen and (min-width: 1024px) {
                display: flex;
                justify-content: center;
                div {
                    max-width: 1080px;
                    .restaurants__cards {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap : 50px;
                        .card {
                            min-width: 490px;
                            height: 251px;
                            margin-bottom: 0;
                            img {
                                height: 181px;
                            }
                        }
                    }
                }
            }
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
            background-color: white;
            margin-bottom: 20px;
            box-shadow: 10px 10px 15px #0000001A;

            .card_tag {
                position: absolute;
                background-color: #99E2D0;
                height: 29px;
                width: 24%;
                top: 13px;
                left: 238px;
                font-weight: 500;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                color: green;
            }
       
            .card_image {
                object-fit: cover;
                height: 124px;
                border-radius: 20px 20px 0px 0px;
                border: 5px;
            }
    
            .card-content {
                padding: 10px 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                .card-title {
                    font-size: 18px;
                    margin-top: 10px;
                    margin-bottom: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                }
    
                .card-subtitle {
                    font-size: 17px;
                    font-weight: 300;
                    font-family: 'Roboto', sans-serif;
                    margin: 5px 0;
                }

                .card-price{
                    padding-top: 20px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 15.04px;
                }
            }
            
            .checkmark {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius:  0 20px 20px 0;
                opacity: 0;
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                background-color: green;
                color: white;
                text-align: center;
                line-height: 200px;
                transition: width 1s ease-in-out, opacity 1s ease-in-out;

            }
        }

        .menu {
            // opacity: 0;

            // @for $i from 1 through 3 {
            //     &:nth-child(#{$i}) {
            //       animation: fadeIn 3s ease-in-out #{0.2s * $i} forwards;
            //     }
            // }
          
            // @keyframes fadeIn {
            //     0% { opacity: 0; }
            //     100% { opacity: 1; }
            // }

            .menu__header {
                position: relative;
                top: -50px;
                background-color: #F6F6F6;
                border-top-right-radius: 40px;
                border-top-left-radius: 40px;
                display: flex;
                justify-content: space-around;
                padding-top: 30px;
    
                .menu__title {
                    font-family: 'Shrikhand';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 28px;
                    margin: 0;
                }
    
                button {
                    display: flex;
                    align-items: center;
                }
            }
    
            .menu__body {
                // position: relative;
                // top : -50px;
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                // border-radius: 40px;
                background-color: #F6F6F6;
                gap: 40px;
                
              
    
                section {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    
                    .section_title{
                        position: relative;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 16px;
                        padding-bottom: 10px;
                        margin-bottom: 0;
        
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 40px; 
                            height: 3px; 
                            background-color: #99E2D0;
                          }
                    }
                }
    
    
                .card {
                    padding-right: 5px;
                    transition: padding-right 1s ease-in-out;
                    height: 69px;
                    justify-content: center;
                    padding: 15px;
                    margin-bottom: 0;
    
    
                    .card-content {
                        padding: 0;
    
                        .card-txt {
                            transition: width 1s ease-in-out;
    
                            .card-title {
                                font-weight: 500;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
            
                            .card-subtitle {
                                font-weight: 300;
                                font-size: 14px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
    
    
                    &:hover {
                        padding-right: 25%;
    
                        .card-txt {
                            width: 80%;
                        }
                        
                        .checkmark {
                            opacity: 1;
                            width: 20%;
                        }
                    }
                }
    
                .command_action {
                    display: flex;
                    justify-content: center;
    
                    .action_button {
                        margin: 0;
                    }
                }
    
                
                
            }

            @media screen and (min-width: 1024px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // min-width: 1055px;
                background-color: white;

                .menu__header, .menu__body {
                    max-width: 1055px;
                    width: 100%;
                }

                .menu__header {
                    // justify-content: space-around;
                }

                section {
                    // width: max-content;
                }
            }
        }





        .icon-button {
            position: relative;
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;

            .icon-default, .icon-hover {
                position: absolute;
                right: 0;
                transition: opacity 2s;
                font-size: 22px;
                -webkit-text-stroke: 1px white;
            }

            .icon-hover {
                opacity: 0;
                background: linear-gradient(#9356DC, #FF79DA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:hover {
                .icon-default {
                    opacity: 0;
                }

                .icon-hover {
                    opacity: 1;

                }
            }
        }

        .action_button {
            height: 50px;
            margin: 20px;
            border: 2px solid ;
            border-radius: 25px;
            font-weight: 500;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(#FF79DA,#9356DC);
            color: white;
            width: 61%;
            height: 50px;
            cursor: pointer;

            &:hover{
                background-color: #FF79DA;
                transition: 1s;
            }

            @media screen and (min-width: 1024px) {
                max-width: 218px;
            }
        }
        
    }

    .footer{
        background-color: #353535;
        color: white;
        padding: 22px 25px;

        .footer_title {
            font-family: 'Shrikhand';
            font-style: italic;
            font-size: 40px;
            font-weight: 800;
            padding: 20px 0;
            margin: 0;
        }
        
        .footer_list {
            margin: 0;
            gap: 7px;
            li {
                padding-bottom: 15px;
                font-weight: 500;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                i {
                    padding-right: 10px;
                    width: 5%;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: right;
            flex-direction: row-reverse;
            gap: 16px;
            height: 114px;
            align-items: end;
            ul {
                display: flex;
                min-width: 661px;
                justify-content: left;

                li {
                    padding: 0 5px;
                }
            }
        }
    }

    .menu, .menu__header, .menu__footer {
        opacity: 0;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              animation: fadeIn 3s ease-in-out #{0.2s * $i} forwards;
            }
        }
      
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    }
    
}


