.header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .header__logo {
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .header__back-button {
            position: absolute;
            left: 17px;
            color : #353535;
            font-size: 20px;
        }

        img {
            height: 44px;
            width: 65%;
            padding-top: 10px;
        }
    }

    .location {
        width: 100%;
        height: 50px;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            padding-left: 15px;
        }
    }

}

@media (min-width: 1024px) {
    .header{
        .header__logo {
            height: 96.34px;
            
            img {
                padding: 0;
                width: 100%;
                height: 34.2px;
            }
        }
    }

}

@media (min-width: 1440px) {
    .header {
        .header__logo {
            position: relative;

            .header__back-button {
                left: -600px;
            }
        }
    }
}
