main {
    background-color: #F6F6F6;
    padding-bottom: 50px;
}

/* Desktop & Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
    main {
        padding-bottom: 0;
    }
}
