.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    font-family: 'Roboto', sans-serif;
    max-width: 490px;


    .card_tag {
        position: absolute;
        background-color: #99E2D0;
        height: 29px;
        width: 24%;
        max-width: 80px;
        top: 13px;
        right: 13px;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
    }

    .card_image {
        object-fit: cover;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        border: 5px;
    }

    .card-content {
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-title {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 4px;
            font-weight: 700;
        }

        .card-subtitle {
            font-size: 17px;
            font-weight: 300;
            margin: 5px 0;
        }

    }

    // @keyframes checkmark-in {
    //     0% { width: 0; opacity: 0; }
    //     100% { width: 17%; opacity: 1; }
    // }
    
    // @keyframes checkmark-out {
    //     0% { width: 17%; opacity: 1; }
    //     100% { width: 0; opacity: 0; }
    // }
    
    // .checkmark {
    //     position: absolute;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     border-radius:  0 15px 15px 0;
    //     right: 0;
    //     top: 0;
    //     width: 0;
    //     height: 100%;
    //     background-color: #99E2D0;
    //     text-align: center;
    //     animation: checkmark-out 1s forwards;
    //     max-width: 59px;

    //     i {
    //         color: white;
    //         font-size: 20px;
    //     }

    // }
}