@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.menu__title {
    font-family: 'Shrikhand';
}

.footer_title {
    font-family: 'Shrikhand';
}