.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    animation: fadeOut 3s;
    animation-fill-mode: forwards;

    .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @keyframes fadeOut {
        100% {
          opacity: 0;
          visibility: hidden;
        }
    }
}  

.fonctionnement{
    padding: 20px;
    background-color: white;
    .fonctionnement_list {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            position: relative;
            display: flex;
            width: 96%;
            height: 72.38px;
            border-radius: 20px;
            align-items: center;
            background-color: #F6F6F6;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            box-shadow: 0px 4px 15px 0px #00000026;

            span {
                position: absolute;
                display: flex;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $primary-color;
                color: white;
                text-align: center;
                left: -10px;
                font-size: 14.18px;
                line-height: 26.62px;
            }

            i {
                position: relative;
                padding: 0 25px 0 40px;
                color: #7E7E7E;
                font-size: 19px;
                top : -3px;
            }
            
            .fa-store {
                color: $primary-color;

            }
        }
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;

    .presentation__title {
        height: 68px;
        width: 73%;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 24px;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }
}

.restaurants {
    padding: 20px 20px 0 20px;
}

/****** Media queries ***********/

/* Small & Medium devices (mobiles, tablets, more/equal than 540px) */
@media screen and (min-width: 540px) {
    .restaurants {
        display: flex;
        justify-content: center;
        padding: 10px 20px 0 20px;
    
        div {
            max-width: 1080px;
            
            .restaurants__cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 10px;
                padding-bottom: 30px;
                gap: 50px;

                .card {
                    min-width: 490px;
                    height: 251px;
                    margin-bottom: 0;
    
                    img {
                        height: 170px;
                    }
    
                    .card-content {
                        padding: 10px 25px 10px 20px;
                    }
                }
            }
        }
    }
}

/* Small & Medium devices (mobiles, tablets, more/equal than 540px and less/equal than 1069px) */
@media screen and (min-width: 540px) and (max-width: 1069px) {
    .restaurants {
        div {
            .restaurants__cards {
                display: flex;
                justify-content: center;
            }
        }
    }
}

/* Desktop & Medium devices (tablets, more/equal than 1024px) */
@media (min-width: 1024px) {
    .fonctionnement {
        display: flex;
        justify-content: center;
        div {
            max-width: 1053px;
            width: 100%;
            .fonctionnement_list {
                flex-direction: row;
                gap: 30px;
                width: 100%;
                li {
                    width: 100%;
                }
            }
        }
    }

    .presentation {
                    
        br {
            display: none;
        }

        .presentation__title {
            font-weight: 700;
            font-size: 40px;
            height: 47px;
            margin-top: 0;
            padding-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }
    }
    
}