.restaurants {
    padding: 20px 20px 0 20px;
}

/****** Media queries ***********/

/* Small & Medium devices (mobiles, tablets, more/equal than 540px) */
@media screen and (min-width: 540px) {
    .restaurants {
        display: flex;
        justify-content: center;
        padding: 10px 20px 30px 20px;
    
        div {
            max-width: 1080px;
            
            .restaurants__cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 10px;
                padding-bottom: 30px;
                gap: 50px;

                .card {
                    min-width: 490px;
                    height: 251px;
                    margin-bottom: 0;
    
                    img {
                        height: 80%;
                    }
    
                    .card-content {
                        padding: 10px 25px 10px 20px;
                    }
                }
            }
        }
    }
}

/* Small & Medium devices (mobiles, tablets, more/equal than 540px and less/equal than 1069px) */
@media screen and (min-width: 540px) and (max-width: 1069px) {
    .restaurants {
        div {
            .restaurants__cards {
                display: flex;
                justify-content: center;
            }
        }
    }
}